<html>
<head>
<title> error found </title>
</head>
<body>
<div id="header_section">
{{>header}}
</div>
<h1> error found </h1>
<article>
{{error}}
</article>
<p id="goto_home">
<a href="/weather" id="home_link"> home </a>
</p>
<div id="footer_section">
{{>footer}}
</div>
</body>
</html>